#slider {
  width: 100%;
  height: 485px;
  overflow: hidden;
  margin: auto;
  background-size: 100% 100%, 100% 100%, 0% 5px;
  border: 10px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px white;
  border-radius: 3px;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
  height: 485px;
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 65px;
  line-height: 3em;
  font-size: 1.5em;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  /*box-shadow: 0 0 3px white;*/
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0.2em;
  text-align: center;
}

p,
img {
  width: 100%;
  display: block;
  margin: 0;
}

#slider {
  animation: progress 10s infinite;
}

#move {
  animation: slideup 100s infinite 1.5s;
}

figure {
  animation: fade 100s infinite 1.5s;
}

@keyframes slideup {
  0%,
  10% {
    margin-top: 0;
  }
  10.1%,
  20% {
    margin-top: -485px;
  }
  20.1%,
  30% {
    margin-top: -970px;
  }
  30.1%,
  40% {
    margin-top: -1455px;
  }
  40.1%,
  50% {
    margin-top: -1940px;
  }
  50.1%,
  60% {
    margin-top: -2425px;
  }
  60.1%,
  70% {
    margin-top: -2910px;
  }
  70.1%,
  80% {
    margin-top: -3395px;
  }
  80.1%,
  90% {
    margin-top: -3880px;
  }
  90.1%,
  100% {
    margin-top: -4365px;
  }
}

@keyframes fade {
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    opacity: 0;
  }
  2%,
  8%,
  13%,
  18%,
  23%,
  28%,
  33%,
  38%,
  43%,
  48%,
  53%,
  58%,
  63%,
  68%,
  73%,
  78%,
  83%,
  88%,
  93%,
  98% {
    opacity: 1
  }
}

@keyframes progress {
  to {
    background-size: 100% 100%, 100% 100%, 100% 5px;
  }
}
